#Wrapper {
    width: 500px;
    margin: 50px auto;
    text-align: center;
    display: block;
    border: 2px dashed blue;
}

div>form{
    width: 300px;
    margin: 50px auto;
    text-align: center;

}
h1{
    text-align: center;
}
th {
    border: 3px solid black;
}
td{
    border: 2px solid black;
}

form>label{
    display: block;
}
table {
    margin: 0px auto;
    text-align: center;
}
td {
    width: 150px;
}