<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class='container mt-5'>
        <h1>User {{user_data.id}}</h1>
        <p>Full Name: {{user_data.first_name}} {{user_data.last_name}}</p>
        <p>Email: {{user_data.email}}</p>
        <p>Created at: {{user_data.created_at}}</p>
        <a href="/users/{{user_data.id}}/edit">Edit</a> |
        <a href="/users">Go Back</a>
    </div>
</body>

</html>