body {
    width: 800px;
    margin: 10px auto;
    align-content: center;
}
h1, p{
    text-align: center;
    color: blue;
}
img {
    border: 2px dashed green;
    border-radius: 15px;
    display: inline-block;
    margin: auto;
}
form{
    display: inline-block;
}
